Repository DanielN88/rancid-tomatillos, pull requests merged in 2022-05, with the labels that each got.

#12 Display all movies
  src/App.js
  src/components/AllMovies.js
  src/components/MovieCard.js
  src/data.js
Labels: enhancement, iteration one, priority one

#14 Features/css simple
  src/App.css
  src/App.js
  src/components/AboutMovie.css
  src/components/AboutMovie.js
  src/components/FaqMovie.css
  src/components/FaqMovie.js
  src/components/MovieCard.css
  src/components/MovieCard.js
  src/components/Navbar.css
  src/components/Navbar.js
  src/components/ViewAllMovies.css
  src/components/ViewMovieInfo.css
  src/components/ViewMovieInfo.js
Labels: enhancement, iteration one, priority one

#15 Feature/connect data
  src/App.js
  src/components/FaqMovie.js
  src/components/MovieCard.js
  src/components/Navbar.js
  src/components/ViewAllMovies.js
Labels: enhancement, iteration three, priority one

#16 Add error handling for server issues
  src/App.js
  src/components/ErrorHandling.js
Labels: enhancement, iteration three, priority one

#17 Features/routing
  package-lock.json
  package.json
  src/App.js
  src/components/MovieCard.js
  src/components/Navbar.js
  src/components/ViewAllMovies.js
  src/index.js
Labels: bug, enhancement, priority one, priority four

#19 Fix bugs and make it so page will render properly
  src/App.js
  src/components/MovieCard.js
  src/components/Navbar.js
  src/components/ViewAllMovies.js
  src/components/ViewMovieInfo.js
Labels: bug, enhancement, iteration four, priority one

#20 Features/cypress testing
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/integration/dashboard_spec.js
  cypress/integration/movie_details_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/App.js
  src/components/MovieCard.js
  src/components/Navbar.js
  src/components/ViewAllMovies.js
  src/components/ViewMovieInfo.js
  src/index.js
Labels: bug, enhancement, iteration four, priority one, Testing

#21 Add cypress network testing
  cypress/fixtures/movie-money-plane.json
  cypress/fixtures/movie-peninsula.json
  cypress/fixtures/movie-rogue.json
  cypress/fixtures/movies.json
  cypress/integration/dashboard_spec.js
  cypress/integration/movie_details_spec.js
Labels: iteration four, priority one, Testing

#23 Feature/sad path testing
  cypress/fixtures/sad-movies.json
  cypress/integration/dashboard_spec.js
  cypress/integration/movie_details_spec.js
  src/App.js
  src/components/ErrorHandling.js
  src/components/ViewMovieInfo.js
Labels: priority one, priority four, Testing

#24 Add favorites movies page
  src/App.css
  src/App.js
  src/components/AboutMovie.js
  src/components/Navbar.js
  src/components/ViewAllFavorites.js
  src/components/ViewMovieInfo.js
Labels: enhancement, iteration five, priority one

#25 Feature/favorite component
  cypress/fixtures/error paths
  src/components/AboutMovie.js
  src/components/ViewAllFavorites.js
  src/components/ViewMovieInfo.js
Labels: enhancement, iteration five, priority one

#26 Testing/favorite movies
  cypress/fixtures/first-GET-request.json
  cypress/fixtures/second-GET-request.json
  cypress/integration/favorite_dashboard_spec.js
Labels: iteration five, priority one, Testing

#27 add error handling css and border radiuses
  src/App.css
  src/assets/error_message.png
  src/components/ErrorHandling.js
Labels: enhancement, iteration five, priority one

#29 Refactor
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  src/App.css
  src/App.js
  src/components/AboutMovie.js
  src/components/ErrorHandling.js
  src/components/FaqMovie.js
  src/components/MovieCard.js
  src/components/Navbar.js
  src/components/ViewAllFavorites.js
  src/components/ViewAllMovies.js
  src/components/ViewMovieInfo.js
  src/data.js
  src/index.js
  src/logo.svg
Labels: enhancement, iteration five, priority one

#28 Add readme
  README.md
Labels: enhancement, iteration five, priority one
